*{
margin: 0;
padding: 0;
background-color: rgb(9, 9, 70);
color: #fff;
text-align: center;
}
h1{
    height:5rem;
    line-height: 5rem;
}

.choice{
    height: 150px;
    width: 150px;
}
.choice:hover{
    opacity: 0.7;
    cursor: pointer;
}
.choice img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
    
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}
.score-board{
    display: flex;
    justify-content:center;
    align-items:center;
    font-size: 2rem;
    margin-top:3rem;
}
#computer-score{
 margin-left: 5rem;
}
#user-score, #comp-score{
    font-size: 3rem;
}
.msg-container{
    margin-top:5rem;
}
#msg{
    background-color: #fff;
    color: rgb(9, 9, 70);
    display: inline;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;

}